* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    z-index: 1000;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #014D5A;
}

/* Footer class*/
footer {
    display: flex; 
    justify-content: space-between;
    padding: 20px;
    background-color: #002A32;
    text-align: center;
    align-items: center;
}

#footer-section{
    display: grid;
    margin-right: 40px;
    margin-left: 40px;
}

#footer-section ul {
    list-style: none;
    line-height: 150%;
}

#footer-section ul li {
    margin: 5px 10px 5px
}

#footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

/* Navigator Bar class*/
nav{
    font-size: 20px;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    grid-gap: 20px;
}

nav ul li {
    border-radius: 5px;
    padding: 5px 15px;;
    background-color: rgba(0, 0, 0, 0.0);
    display: inline;
    transition: background-color 0.3s ease;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin-right: 10px;
    height: 40px;
}

.logo h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.logo p {
    font-size: 1.2rem;
}


.search-login {
    display: flex;
    align-items: center;
    grid-gap: 10px
}

.search-login input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.search-login button {
    font-size: 17px;
    padding: 5px 15px;
    background-color: #017a8b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 0.5fr));
    gap: 40px;
}

.blog h2 {
    text-align: center;
    margin-bottom: 20px;
}


/* Article class*/
article {
    background-color: #014d5b;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

article p {
    font-size: 14px;
    margin-bottom: 15px;
}

article a {
    color: #7596D1;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}


/* Blog article class*/
.post .content {
    display: flex;
    align-items: center;
}

.post img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.post .text {
    display: flex;
    flex-direction: column;
}