* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

.backlayer{    
    background-size: cover;
    background-position: center;
}

.container {
    background-size: cover;
    background-position: center;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: gray;
    box-shadow: 10px 10px;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    filter:drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    animation: Myslide2;
     animation-duration: 4s;
    animation-iteration-count: 1;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

h2 {
    font-style: "Nerko One", cursive;
    margin-bottom: 20px;
    text-align: center;
    color: mistyrose;
}

label {
    margin-bottom: 10px;
    color: white;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.backbutton{
    background-color: rgba(0, 0, 0, 0);
}

.submitbutton{
     background-color: rgba(0, 0, 0, 0.5);
}

button {
    padding: 10px;
   
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    
}

#error-message {
    color: rgb(255, 90, 25);
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
}

@keyframes Myslide2{
    from{margin-top:100%}
    to{margin-top: 0;
       }
    
}
