:root {
    --navbar-bg: #014d5b;
    --navbar-text-color: white;
    --form-bg-color: #014d5b;
    --form-text-color: #1d1d1d;
}

.dark-mode {
    --navbar-bg: #003341;
    --navbar-text-color: white;
    --form-bg-color: #1d1d1d;
    --form-text-color: #eaeaea;
}

.backlayer{
    background-color: rgba(0,0,0,0.7);
}

body{
    color: white;
}

.form-block{
    width: 70%;
    justify-content: center;
    padding: 20px;
    margin: auto;
    background-color: #014d5b;
    border-radius: 3px;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.9);
}

form{
    justify-content: center;
    padding: 20px;
    margin: auto;
    background-color: #014d5b;
    border-radius: 3px;
}

.form-control {
    color: white;
    background-color: transparent;
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control.error input, .form-control.error textarea {
    border-color: #ff4848;
}

.form-control .error {
    color: #ff4848;
    font-size: 15px;
    height: 20px;
}

form input, textarea{
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 18px;
	padding: 10px;

    height: 30px;
    width: 100%;
}

form h2{
    text-align: center;
}

form textarea{
    min-height: 255px;
    max-height: 255px;
}

.form-submit{
    text-align: center;
    justify-content: center;
}

.form-step button{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 10px;
    border: 0;
    color: white;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

table{
            
    margin: auto;
    width: 90%;
    border: 1px solid #0d312e;
    margin-bottom: 20px;
}

td{
    border: 1px solid #0d312e;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 5px;
}

tr{
    border: 1px solid #0d312e;
    padding: 5px;
}

td h5{
    font-size: 1.25rem;
}

tr h1{
    font-size: 2rem;
}

th h3{
    font-size: 1.75rem;
}

label h2{
    text-align: center;
}

/* FAQ */
/* Style the buttons that are used to open and close the accordion panel */
.faq-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
}

.faq {
    background-color: #014d5b;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    justify-content: center;
}

.faq h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq span {
    font-size: 24px;
    transition: all .25s ease-in-out;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
}

.faq-answer p {
    font-weight: 200;
    margin: 10px 0;
}

/* After toggle in JS script */
.faq.open .faq-answer {
    max-height: 120px; 
}

.faq.open span {
    transform: rotate(45deg);
}


.popup {
    position: fixed;
    right: -200%;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    width: 600px;
    background-color: rgba(1,77,91,1);
    color: white;
    border: 2px solid #000;
    transition: right 0.5s ease-in-out;
    z-index: 100;
    border: 0;
    border-radius: 10px;
}

.popup.show{
    right: 37.5%;
}

.popup-close{
    rotate: 45deg;
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: rgba(0,0,0,0);
    border: 0;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.form-step {
    display: none;
}

.form-step-active {
    display: block;
}

#popup-open-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(1,77,91, 0.4);
    border-radius: 3px;
    padding: 10px;
    border: 0;
    color: white;
    font-size: 1.25em;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#popup-open-btn:hover{
    background-color: rgba(1,77,91, 1);
}

.overlay.show{
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99;

    transition: all 1s;
}

.popup-line, .popup-form{
    display: flex;
    align-items: center;
    margin: auto;
}

.popup-input{
    margin: 10px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 0;
}

.popup-input .error{
    margin: 3px;
    font-size: 13px;
    color: #ff4848;
    background-color: transparent;
    border: 0;
}

.popup-input.error input{
    border-color: #ff4848;
}

.popup-input input{
    border-radius: 5px;
    width: auto;
}

.popup-submit{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 10px;
    border: 0;
    color: white;
    font-size: 1.25em;
    padding-left: 40px;
    padding-right: 40px;

}

.overlay.show{
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99;

    transition: all 1s;
}

.popup-answer {
    position: fixed;
    right: -200%;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    width: 475px;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    border: 2px solid #000;
    transition: right 0.75s ease-in-out;
    z-index: 102;
    border: 0;
    border-radius: 10px;
}

.popup-answer.show{
    right: 37.5%;
}

@media (max-width: 900px) {
    .faq-section{
        
    }

    td h5{
        font-size: 1rem;
    }
    
    tr h1{
        font-size: 1.5rem;
    }
    
    th h3{
        font-size: 1.25rem;
    }
}