
:root {
    /* Light Mode Colors */
    --primary-color: #017a8b;
    --navbar-bg: #014d5b;
    --navbar-text-color: white;
    --body-bg-color: #f9f9f9;
    --body-text-color: #1d1d1d;
    --card-bg-color: #f9f9f9;
    --card-text-color: #1d1d1d;
    --card-info-color: #555555;

    --discount-color-1: rgba(9,102,121,1);
    --discount-color-2: rgba(0,176,134,1);
}

/* Dark Mode Colors */
.dark-mode {
    --primary-color: #f1c40f;
    --navbar-bg: #003341;
    --navbar-text-color: white;
    --body-bg-color: #1d1d1d;
    --body-text-color: #eaeaea;
    --card-bg-color: #3a3a3a;
    --card-text-color: #f9f9f9;
    --card-info-color: #cfcfcf;

    --discount-color-1: rgb(5, 79, 94);
    --discount-color-2: rgb(0, 126, 96);
}

body {
    
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
}

.navbar {
    background-color: var(--navbar-bg);
}

.search-section {
    align-items: center;
    text-align: center;

    margin: 30px;
}

.search-section h1{
    color: var(--body-text-color);
    font-weight: bolder;
}

.search-filter input {
    top: 50%;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.event-list {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
    gap: 20px;
    padding-right: 150px;
    padding-left: 150px;
}

.event-card {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.616);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);

}

.event-image {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #003580;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.event-details {
    padding: 15px;
    
}

.event-details h3 {
    color: var(--card-text-color);
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.event-details h5 {
    color: var(--card-text-color);
    font-size: 15px;
    margin: 5px 0;
}

.event-details p {
    font-style: italic;
    font-size: 15px;
    color: var(--card-info-color);
    margin: 5px 0;
}

.event-price {
    position: relative;
    bottom: 5px;
    left: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-price .price {
    color: var(--card-text-color);
    font-weight: bold;
}

.event-price .rating {
    color: #ff9800;
}


 main .search-word{
    font-family: "Merriweather", sans-serif;
    font-weight: bold;
}

/* Discount section */
.discount{
    display: none;
    opacity: 0;
    max-height: 220px;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    font-family: 'Rubik', serif;

    text-align: center;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(0deg, var(--navbar-bg) 0%, var(--discount-color-1) 50%, var(--discount-color-2) 100%);
    color: azure;
}

.discount.open{
    display: block;
    opacity: 1;
    
    transition: all 0.7s;
}

.discount.remove{
    opacity: 0;
    display: none;
    transition: all 0.7s;
}

.discount-btn, .discount-close, .discount-link{
    background-color: rgba(0,0,0,0);
    border: 0;
    color: white;
}

.discount-close{
    rotate: 45deg;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 32px;
}

.discount-submit{
    align-items: center;
    display: flex; 
    justify-content: center;
}

.discount-link{
   padding: 10px;
   border-radius: 5px;
    text-decoration: none; 
    margin-right: 10px; 
    margin-top: 5px;
    transition: background-color .3s ease;
    font-size: 25px;
    font-weight: 700;

}

.discount-link:hover {
    background-color: #0000003a;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount h1, .timer h4{
    font-weight: 500;
}

.timer .timer_part{
    margin: 10px;
    padding: 3px;
    background-color: rgba(0,0,0,0.4);
}

/* Pop up section */
.popup {
    position: fixed;
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    width: 475px;
    background-color: rgba(1,77,91,1);
    color: white;
    border: 2px solid #000;
    transition: right 0.75s ease-in-out;
    z-index: 100;
    border: 0;
    border-radius: 10px;
}

.popup.show{
    right: 37.5%;
}

.popup-close{
    rotate: 45deg;
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: rgba(0,0,0,0);
    border: 0;
    color: white;
    font-size: 22px;
    cursor: pointer;
}



.popup-line, .popup-form{
    display: flex;
    align-items: center;
    margin: auto;
}

.popup-input{
    margin: 10px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 0;
}

.popup-input .error{
    margin: 3px;
    font-size: 13px;
    color: #ff4848;
    background-color: transparent;
    border: 0;
}

.popup-input.error input{
    border-color: #ff4848;
}

.popup-input input{
    border-radius: 5px;
    width: auto;
}

.popup-submit{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 10px;
    border: 0;
    color: white;
    font-size: 1.25em;
    padding-left: 40px;
    padding-right: 40px;

}

.overlay.show{
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99;

    transition: all 1s;
}

.filter-form{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    margin: auto;
    margin-bottom: 8px;
    color: var(--card-text-color);
}

.filter-form label{
    font-weight: 700;
    font-size: 20px;
    color: var(--card-text-color);
}

.filter-form button{
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 7px;
    font-size: 18px;
    font-weight: bold;
}

.filter-section{
    display: flex;
    padding:10px;
    justify-content: space-around;
}

.filter-section input[type="number"], .filter-section select{
    padding:6px;
    color: var(--card-text-color);
    background-color: var(--card-bg-color);
    border-radius: 5px;
}

.filter-currency label{
    font-size: 1em;
    font-weight: 800;
}