.search-section {
    align-items: center;
    text-align: center;

    margin-bottom: 60px;
}

.search-section h1{
    color: #333;
}

.search-filter {
    margin-top: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.search-filter h1{
    position: relative;
    top: 50%;
    padding: 5px 15px;
    margin-right: 20px;
    align-items: center;
}

.search-filter input {
    top: 50%;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.event-list {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
    gap: 20px;
    padding-right: 150px;
    padding-left: 150px;
}

.event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.616);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);

}

.event-image {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #003580;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.event-details {
    padding: 15px;
    
}

.event-cert{
    color:darkgreen;
}

.event-details h3 {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.event-details h5 {
    color: black;
    font-size: 15px;
    margin: 5px 0;
}

.event-details p {
    font-style: italic;
    font-size: 15px;
    color: #555555;
    margin: 5px 0;
}

.event-price {
    position: relative;
    bottom: 1;
    right: 1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-price .price {
    color: black;
    font-weight: bold;
}

.event-price .rating {
    color: #ff9800;
}

 /* Styling for the icon */
 .icon {
    z-index: 1;
    background-color: rgb(190, 190, 190);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 30%;
    padding: 7px;
}

.icon img{
    width: 40px;
}


.popup {
    visibility: hidden;
    width: 150px;
    background-color: #a8a8a8;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    top: 110%; 
    right: 15%;
    opacity: 0;
    transition: opacity 0.3s;
}


.icon:hover .popup {
    visibility: visible;
    opacity: 1;
}