* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(1, 77, 91, 0.7);
}

.backlayer{
    background-color: rgba(0, 90, 106, 0.1);
}

/* Footer class*/
footer {
    display: block; 
    padding: 20px;
    background-color: #014d5b;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

/* Navigator Bar class*/
nav ul {
    list-style: none;
    display: flex;
    grid-gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin-right: 10px;
    height: 40px;
}

.logo h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.logo p {
    font-size: 1.2rem;
}


.search-login {
    display: flex;
    align-items: center;
    grid-gap: 10px
}

.search-login input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.search-login button {
    padding: 5px 15px;
    background-color: #017a8b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-section {
    text-align: center;
    margin-bottom: 20px;
}

.searchInput {
    width: 60%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.tour-list {
    background-color: rgba(0, 52, 61, 0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: ;
}

.tour {
    background-color: #014d5b;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.tour img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.tour-info {
    margin-top: 10px;
}