*{
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    --navbar-bg: #014d5b;
    --navbar-text-color: white;
    --body-bg-color: #f9f9f9;
    --body-text-color: #1d1d1d;
}

.dark-mode {
    --navbar-bg: #003341;
    --navbar-text-color: white;
    --body-bg-color: #1d1d1d;
    --body-text-color: #eaeaea;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--navbar-bg);
    padding: 10px 20px;
}

main{
    text-align: center;
    padding: 30px 80px;
}

/* Heading */
#tourMain{
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tourMain h1{
    margin: 10px;
    font-size: 32px;
    font-weight: 700;
}

/* Info */
.tourInfo{
    width: 90%;
    margin-bottom: 25px;
}

#content{
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

/* Image */
#tourImage{
    border-radius: 5px;
    top:0;
    margin: 0;
    width: 90%;
    height: 90%;
    justify-content: start;
}

.backlayer{
    justify-content: start;
    text-align: start;
}

.backbutton{
    position: static;
    
    margin: 5px;
    background-color: rgba(0, 0, 0, 0);
}

/* Field */
.tourField{
    text-align: start;
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}
    
.tourField label, .tourPrice label{
    font-size: 24px;
    font-weight: 700;
    padding-right: 10px;
}

.tourField h3{
    font-size: 22px;
    font-weight: 300;
}


/* Rating and price */
#tourRating{
    color: #ff9800;
}

.tourPrice{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#tourPrice{
    margin: 15px
}

.infoContent{
    display: flex;
    flex-direction: column;
}

#tourDesc{
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

#tourDesc h4{
    font-size: 28px;
}

.descIweather{
    display: flex;
    flex-direction: row;
}

#tourWeather{
    margin: 10px;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 400px;
    border: 1px dashed black;
}

.weather{
    display: flex;
    justify-content: space-around;
}

.weather .temp{
    margin: 5px;
}

@media (max-width: 1300px){
    #tourDesc{
        margin-top: 20px;
        margin-left: 25px;
        margin-right: 25px;
        text-align: left;
    }
    
    #tourDesc h4{
        font-size: 22px;
    }
}

@media (max-width: 1100px) {
    main{
        padding: 20px 20px;
    }

    #tourDesc{
        text-align: center;
    }

    #tourMain, .tourPrice{
        flex-direction: column;
    }

    #tourInfo{
        text-align: center;
        margin: 20px auto;
    }

    #tourImage{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    #content{
        flex-direction: column;
    }
    .infoContent{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (max-width: 660px){
    #tourMain h1{
        margin: 15px;
    }

    #tourImage{
        border-radius: 5px;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }

    .infoContent{
        flex-direction: column;
    }

    
}

@media (max-width: 800px){
    

    .tourPrice{
        align-items: start;
    }

    .infoContent{
        flex-direction: row;
    }

    .infoContent{
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: column;
        justify-content: none;
    }
}